.DotaLoadingRoot {
    width: 100%;
    height: 100%;
}

.DotaLoadingIcon {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image:url("file://{images}/custom_game/bg/bg2.jpg");
}

@keyframes 'LoadingIconAnim' {
    0% {
        pre-transform-scale2d: 1;
        opacity: 0;
    }
    40% {
        pre-transform-scale2d: 1;
        opacity: 1;
    }
    60% {
        pre-transform-scale2d: 1;
        opacity: 1;
    }
    80% {
        pre-transform-scale2d: 4;
        opacity: 0;
    }
    100% {
        pre-transform-scale2d: 1;
        opacity: 0;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
#DOTA2IMBA {
    margin-left: 110px;
    margin-top: 40px;
    flow-children: right;
    animation-name: ani_move3;
    animation-duration: 2s;
}

#DOTA2IMBA_Image {
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
    background-image: url("file://{images}/custom_game/hud/dota_logo_bright_psd.png");
}

#DOTA2IMBA_Text {
    color: #FFFFFF;
    text-shadow: 3px 1.5px #000000;
    font-weight: bold;
    font-size: 35px;
    vertical-align: center;
    horizontal-align: center;
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
#DOTA2IMBA_OP {
    width: 2000px;
    height: 700px;
    flow-children: right;
    margin-top: 170px;
    margin-left: 110px;
}

.DOTA2IMBA_OP_BG {
    width: 150px;
    height: 350px;
    box-shadow: #00000099 0px 0px 10px 0px;
    border: 3px solid#00000099;
    margin-left: 50px;
    background-size: 100% 100%;
}

.DOTA2IMBA_OP_TEXT {
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 2px 2px #000000;
    font-size: 18px;
    horizontal-align: center;
    vertical-align: center;
    margin-top: 30px;
    box-shadow: #00000099 0px 0px 0px 1px;
    animation-name: ani_gradients;
    animation-duration: 1.5s;
    animation-iteration-count: 100;
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
#DOTA2IMBA_OP_DESC_BG {
    width: 500px;
    height: 350px;
    margin-left: 5px;
    background-size: 100% 100%;
    box-shadow: #00000099 0px 0px 10px 0px;
    border: 2px solid#00000099;
    background-image: url('file://{images}/custom_game/hud/bg_jull_psd.png');
}

#DOTA2IMBA_OP_FLAG {
    width: 35px;
    height: 22px;
    margin-left: 160px;
    margin-top: 17px;
    background-size: 100% 100%;
    box-shadow: #00000099 0px 0px 7px 0px;
    border: 1px solid#00000099;
    background-image: url('file://{images}/custom_game/hud/gcd.png');
}

#DOTA2IMBA_OP_TITLE {
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px #000000;
    font-size: 22px;
    margin-left: 200px;
    margin-top: 17px;
}

#DOTA2IMBA_DESC {
    width: 500px;
    height: 300px;
    horizontal-align: center;
    margin-top: 50px;
}

#DOTA2IMBA_DESC_INFO {
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px #00000099;
    font-size: 17px;
    horizontal-align: center;
    vertical-align: center;
    text-overflow: shrink;
}

@keyframes 'ani_move' {
    0% {
        transform: translateY( 1000px);
    }
}

@keyframes 'ani_move2' {
    0% {
        transform: translateX( -1000px);
    }
}

@keyframes 'ani_move3' {
    0% {
        transform: translateY( -200px);
    }
}

@keyframes 'ani_gradients' {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

#TVPanel {
    height: 480px;
    width: 800px;
    background-size: 100% 100%;
    background-color: #000000;
    margin-left: 700px;
    margin-top: 520px;
    z-index: 100;
}

#TV {
    height: 500px;
    width: 800px;
    horizontal-align: middle;
    vertical-align: middle;
    margin-top: 30px;
    z-index: 100;
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////
#tip_data_ROOT {
    width: 500px;
    height: 350px;
    background-image: url('file://{images}/custom_game/bg/bg21.jpg');
    background-size: 100% 100%;
    box-shadow: #000000d5 0px 0px 5px 0px;
    border: 2px solid#000000de;
    margin-top: 580px;
    margin-left: 110px;
}

#tip_image {
    width: 500px;
    height: 350px;
    background-color: #0000008a;
    background-size: 100% 100%;
    vertical-align: center;
    horizontal-align: center;
}

#tip_text {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-size: 22px;
    vertical-align: center;
    horizontal-align: center;
    width: 450px;
}

.btip {
    width: 35px;
    height: 30px;
    background-size: 100% 100%;
    horizontal-align: center;
    margin-top: 300px;
    z-index: 1;
}

#next_tip {
    margin-left: 100px;
    background-image: url('file://{images}/custom_game/hud/arrow_right_png.png');
}

#back_tip {
    margin-right: 100px;
    background-image: url('file://{images}/custom_game/hud/arrow_left_png.png');
}