.DotaLoadingRoot {
    width: 100%;
    height: 100%;
}

.DotaLoadingIcon {
    width: 100%;
    height: 100%;
    background-size: 100% 100%; //cover;
    overflow: clip;
    background-image: url("file://{images}/custom_game/bg/bg2.jpg");
}

@keyframes 'LoadingIconAnim' {
    0% {
        pre-transform-scale2d: 1;
        opacity: 0;
    }
    40% {
        pre-transform-scale2d: 1;
        opacity: 1;
    }
    60% {
        pre-transform-scale2d: 1;
        opacity: 1;
    }
    80% {
        pre-transform-scale2d: 4;
        opacity: 0;
    }
    100% {
        pre-transform-scale2d: 1;
        opacity: 0;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
#DOTA2IMBA {
    margin-left: 110px;
    margin-top: 40px;
    animation-name: ani_move3;
    animation-duration: 2s;
}

#DOTA2IMBA_Image {
    width: 70px;
    height: 70px;
    background-size: 100% 100%;
    background-image: url("file://{images}/custom_game/dota_logo_bright_psd.png");
}

#DOTA2IMBA_Text {
    color: #FFFFFF;
    text-shadow: 3px 1.5px #000000;
    font-weight: bold;
    font-size: 35px;
    margin-left: 80px;
    margin-top: 10px;
    text-overflow: ellipsis;

}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////

#DOTA2IMBA_OP {
    width: 100%;
    height: 100%;
}

#DOTA2IMBA_OP0 {
    margin-left: 100px;
    margin-top: 170px;
}

#DOTA2IMBA_OP1 {
    margin-left: 670px;
    background-image: url('file://{images}/custom_game/hud/cm.png');
}

#DOTA2IMBA_OP2 {
    margin-left: 870px;
    background-image: url('file://{images}/custom_game/hud/wr.png');
}

#DOTA2IMBA_OP3 {
    margin-left: 1070px;
    background-image: url('file://{images}/custom_game/hud/dr.png');
}

#DOTA2IMBA_OP4 {
    margin-left: 1270px;
    background-image: url('file://{images}/custom_game/hud/lina.png');
}



.DOTA2IMBA_OP_Image2 {
    width: 150px;
    height: 350px;
    margin-left: 5px;
    margin-top: 170px;
    box-shadow: #00000099 0px 0px 10px 0px;
    border: 3px solid#00000099;
    background-size: 100% 100%;
}

.DOTA2IMBA_OP_TEXT1 {
    color: #ffffff;
    text-decoration: underline;
    text-shadow: 2px 2px  #000000;
    font-size: 17px;
    horizontal-align: center;
    vertical-align: center;
    margin-top: 30px;
    animation-name: ani_gradients;
    animation-duration: 1.5s;
    animation-iteration-count: 100;
}

#DOTA2IMBA_OP_Image3 {
    width: 500px;
    height: 350px;
    margin-left: 5px;
    background-size: 100% 100%;
    box-shadow: #00000099 0px 0px 10px 0px;
    border: 2px solid#00000099;
    background-image: url('file://{images}/custom_game/hud/bg_jull_psd.png');
}

#DOTA2IMBA_OP_TEXT2 {
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px  #000000;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 208px;
}

#DOTA2IMBA_OP_Image3_1 {
    width: 500px;
    height: 350px;
    margin-left: 5px;
    background-size: 100% 100%;
    //background-color: #ffffff8c;
}

#DOTA2IMBA_OP_Image3_2 {
    width: 35px;
    height: 22px;
    margin-left: 160px;
    margin-top: 17px;
    background-size: 100% 100%;
    box-shadow: #00000099 0px 0px 7px 0px;
    border: 1px solid#00000099;
    background-image: url('file://{images}/custom_game/hud/gcd.png');
}

#DOTA2IMBA_TIP {
    width: 800px;
    height: 535px;
    margin-left: 10px;
}

#DOTA2IMBA_TIP_TEXT {
    color: #FFFFFF;
    text-shadow: 1.5px 1.5px #00000099;
    font-size: 17px;
    margin-left: 8px;
    margin-top: 60px;
}

@keyframes 'ani_move' {
    0% {
        transform: translateY( 1000px);
    }
}

@keyframes 'ani_move2' {
    0% {
        transform: translateX( -1000px);
    }
}

@keyframes 'ani_move3' {
    0% {
        transform: translateY( -200px);
    }
}

@keyframes 'ani_gradients' {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

#TVPanel {
    height: 480px;
    width: 800px;
    background-size: 100% 100%;
    background-color: #000000;
    margin-left: 700px;
    margin-top: 520px;
    z-index: 100;
}

#TV {
    height: 500px;
    width: 800px;
    horizontal-align: middle;
    vertical-align: middle;
    margin-top: 30px;
    z-index: 100;
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
#DOTA2IMBA_HERO_Recommend {
    width: 500px;
    height: 290px;
    margin-left: 115px;
    margin-top: 600px;
    background-size: 100% 100%;
    background-color: #000000;
    background-image: url('file://{images}/custom_game/hero/1.jpg');
    box-shadow: #000000 0px 0px 10px 0px;
    border: 3px solid#00000099;
}

#DOTA2IMBA_HERO_Recommend_TEXT {
    color: #FFFFFF99;
    text-shadow: 1.5px 1.5px #000000;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 605px;
}

///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////