.ROOT {
    width: 100%;
    height: 100%;
}

#player_BG {
    width: 45px;
    height: 45px;
    background-image:url('file://{images}/custom_game/hud/style_unlock_spirit_breaker_psd.png');
    margin-top: 5px;
    margin-left: 190px;
}

#Veteran_BG {
    width: 50px;
    height: 50px;
    background-image: url('file://{images}/custom_game/hud/map_unlock_support_psd.png');
    margin-top: 2px;
    margin-left: 240px;
}

#TIP_BG {
    width: 60px;
    height: 90px;
    background-image: url('file://{images}/custom_game/hud/icon_map_png.png');
    margin-top: 50px;
    margin-left: 183px;
}

.User_Data {
    background-size: 100% 100%;
    vertical-align: bottom;
    horizontal-align: right;
}

/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
#player_data_ROOT {
    width: 800px;
    height: 350px;
    background-image: url('file://{images}/custom_game/hud/sidelane_jpg.png');
    background-size: 100% 100%;
    box-shadow: #000000 0px 0px 20px 0px;
    margin-top: 200px;
    margin-left: 600px;
    visibility: collapse;
}

#player_LV {
    width: 180px;
    height: 180px;
    //background-image: url('file://{images}/rank_tier_icons/rank0_psd.vtex');
    background-size: 100% 100%;
    //horizontal-align: left;
    vertical-align: center;
    margin-left: 55px;
}

.veteran_NAME {
    color: #ffffff;
    text-shadow: 3px 3px #000000;
    font-size: 50px;
    horizontal-align: center;
    background-color: #000000ef;
    margin-top: 10px;
}

.veteran_TEXT {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-size: 25px;
    margin-left: 275px;
    background-color: #000000ef;
}

.veteran_TEXT1 {
    margin-left: 500px;
}

#veteran1 {
    margin-top: 100px;
}

#veteran2 {
    margin-top: 150px;
}

#veteran3 {
    margin-top: 200px;
}

#veteran4 {
    margin-top: 250px;
}

#veteran5 {
    margin-top: 100px;
}

#veteran6 {
    margin-top: 150px;
}

#veteran7 {
    margin-top: 200px;
}

#veteran8 {
    margin-top: 250px;
}

#veteran9 {
    margin-left: 80px;
    margin-top: 300px;
}

#veteran_data_ROOT {
    width: 1000px;
    height: 600px;
    background-color: #000000d3;
    background-size: 100% 100%;
    vertical-align: top;
    horizontal-align: center;
    margin-top: 200px;
    visibility: collapse;
}

#close_veteran {
    width: 50px;
    height: 50px;
    background-color: #ffffffd3;
    background-size: 100% 100%;
    vertical-align: top;
    margin-left: 950px;
}

////////////////////////////////////
#tip_data_ROOT {
    width: 800px;
    height: 200px;
    background-image: url('file://{images}/custom_game/366.jpg');
    background-size: 100% 100%;
    vertical-align: top;
    horizontal-align: center;
    box-shadow: #000000d5 0px 0px 20px 0px;
    border: 2px solid#000000;
    margin-top: 300px;
    visibility: collapse;
}

#tip_image {
    width: 800px;
    height: 200px;
    background-color: #00000085;
    background-size: 100% 100%;
    vertical-align: center;
    horizontal-align: center;
}

#tip_text {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-size: 30px;
    background-color: #00000094;
    vertical-align: center;
    horizontal-align: center;
}

#off_tip {
    width: 30px;
    height: 30px;
    background-image: url('file://{images}/custom_game/x_close_png.png');
    background-size: 100% 100%;
    vertical-align: top;
    horizontal-align: right;
    box-shadow: #000000c4 0px 0px 20px 0px;
    border: 1px solid#000000;
    z-index: 1;
}

.btip {
    width: 35px;
    height: 30px;
    background-size: 100% 100%;
    box-shadow: #00000077 0px 0px 20px 0px;
    horizontal-align: center;
    margin-top: 160px;
    z-index: 1;
}

#next_tip {
    margin-left: 100px;
    background-image: url('file://{images}/custom_game/arrow_right_png.png');
}

#back_tip {
    margin-right: 100px;
    background-image: url('file://{images}/custom_game/arrow_left_png.png');
}