.ROOT {
    width: 100%;
    height: 100%;
}

#SKILLS_ID {
    margin-left: 100px;
    margin-top: -100px;
    horizontal-align: center;
    vertical-align: center;
    visibility: collapse;
}

#SKILLS_BG {
    width: 800px;
    height: 350px;
    background-image: url('file://{images}/custom_game/hud/supclub_silver_bg_psd.png');
    background-size: 100% 100%;
    box-shadow: #000000 0px 0px 20px 0px;
    border: 4px solid#000000d0;
    horizontal-align: center;
    vertical-align: center;
    margin-top: -10px;
}

#SKILLS_T {
    color: #ffffff;
    text-shadow: 1px 1px 0px 3 #000000;
    font-size: 35px;
    horizontal-align: center;
    margin-top: 20px;
    font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
}

#SKILLS {
    width: 800px;
    height: 350px;
    flow-children: right;
}

.SKC {
    width: 100px;
    height: 100px;
    margin-left: 120px;
    margin-top: 100px;
    background-size: 100% 100%;
    border: 4px solid#0c0c0ca2;
    box-shadow: #000000c5 0px 0px 10px 0px;
}

///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
#AG_ID {
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 50px;
    visibility: collapse;
}

#AG {
    width: 150px;
    height: 55px;
    horizontal-align: center;
    margin-left: -10px;
    background-size: 100% 100%;
    background-image: url('file://{images}/custom_game/hud/glassbutton_pink_psd.png');
    box-shadow: #000000c5 0px 0px 10px 0px;
}

#AG_T {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px 3 #000000;
    font-size: 20px;
    color: #FFFFFF;
    horizontal-align: center;
    vertical-align: center;
    font-stretch: expanded;
    font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
}