.ROOT {
    width: 100%;
    height: 100%;
}

#HERO_M_ID {
    width: 1200px;
    height: 600px;
    margin-top: -50px;
    box-shadow: #000000 0px 0px 10px 0px;
    background-image: url('file://{images}/custom_game/hud/gallery_background_png.png');
    background-size: 100% 100%;
    flow-children: down;
    horizontal-align: center;
    vertical-align: center;
    visibility: collapse;
}

#HERO_Text {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px 2.5 #000000;
    font-size: 40px;
    horizontal-align: center;
    vertical-align: top;
    margin-top: 10px;
    font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
    visibility: collapse;
}

.HERO_SKC {
    background-image: url('file://{images}/custom_game/hud/ovw-bar-bg_png.png');
    background-size: 100% 100%;
    box-shadow: #000000 0px 0px 50px 0px;
    width: 1200px;
    height: 80px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    flow-children: right-wrap;
}

.HERO_ABC {
    width: 50px;
    height: 50px;
    border: 2px solid#ffffffa2;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: center;
}

.AuthorC {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px 2.5 #000000;
    font-size: 25px;
    margin-left: 30px;
    vertical-align: center;
    horizontal-align: center;
    font-family: Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
}

.style {
    width: 500px;
    height: 1000px;
    vertical-align: center;
    horizontal-align: center;
}